<ul class="collection">
    <%= for topic <- @topics do %>
        <li class="collection-item"><%= topic.title %></li>
    <% end %>
</ul>



<.link navigate={~p"/topics/new"} class="group relative rounded-2xl px-6 py-4 text-sm font-semibold leading-6 text-zinc-900 sm:py-6">
    <.icon name="hero-plus-circle" />
</.link>
